// Colors
$bg-main: #f7f7ff;
$text-main: #222;
$text-muted: #555;

$primary: #4b4fff;
$primary-hover: #383bf0;

$correct: #d1f7c4;
$correct-border: #8fcf7d;

$wrong: #ffd6d6;
$wrong-border: #ff9090;

// Layout
$radius-sm: 0.3rem;
$radius-md: 0.4rem;
$radius-lg: 0.6rem;

$shadow-soft: 0 2px 5px rgba(0, 0, 0, 0.15);

// Font
$font-main: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
